/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de 'center' a 'flex-start' */
    min-height: 100vh; /* Ajustado para que permita desplazamiento */
    overflow-y: auto; /* Permitir siempre el scroll vertical */
}

#app {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0; /* Agregado para evitar que el contenido esté pegado a los bordes */
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

/* Card container */
.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

h2 {
    color: #495057;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

/* Input and Button Styles */
.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="number"] {
    width: 80px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.large {
    width: 100%;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

/* List and Match Styles */
.player-list {
    list-style: none;
    padding: 0;
}

.player-list li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.matches-container {
    margin-top: 20px;
}

.match-item {
    background-color: #f1f3f5;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-item input {
    margin-left: 10px;
}

.results-container {
    margin-top: 20px;
}

/* Winner Info */
.winner-info {
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #343a40;
}
